<div id="errorMain">
   <section id="error">
   <div id="errorimg" style="display: block;">
       <a href="/" title="Home page">
     		啊呀！有点迷路了！ <strong>home page</strong>! «
       </a>
   </div>
   </section>
<div class="clear"></div>
</div>
