<div class="desContainer">
	<div class="despop_nav">
		<p class="travelNum">
			共有<span id="num"></span>篇文章            
			<span class="sort" id="view" data-sort="3">阅读量<i></i></span> 
			<span class="sort current" id="time" data-sort="1">时间<i ></i></span>
		</p>
	</div>
	<div class="blogs">
		<div class="spinner">
		  <div class="bounce1"></div>
		  <div class="bounce2"></div>
		  <div class="bounce3"></div>
		</div>
	</div>
	<div class="pagination clearfix" style="display: none;">
      <ul id="pageList">
        	
      </ul>
      <div class="total label">共 <span id="totalPage"></span> 页</div>
    </div>
</div>
<input id="blogname" value="<%= name %>" type="hidden">
<input id="username" value="<%= user.name %>" type="hidden">
<input id="showName" value="<%= showName %>" type="hidden">
<script>
	seajs.use('blogList.js', function(blogList) {
		(new blogList()).init()
	});
</script>